[2018-06-22][imap] failing past login on some servers

## Expected Behaviour

Continue past initial 'LIST'

## Actual Behaviour

Sits at "Logging in..."

If NeoMutt crashed, did your OS create a 'coredump' file?

## Steps to Reproduce

<!-- As much detail as possible, please -->

## How often does this happen?

- Always
  for the specific server `mail.pobox.com`

- Sometimes

## When did it start to happen?

- When I upgraded
  Which version did you use to use?
  2018-05-12

## NeoMutt Version

```
NeoMutt 20180622
Copyright (C) 1996-2016 Michael R. Elkins and others.
NeoMutt comes with ABSOLUTELY NO WARRANTY; for details type 'neomutt -vv'.
NeoMutt is free software, and you are welcome to redistribute it
under certain conditions; type 'neomutt -vv' for details.

System: Darwin 17.7.0 (x86_64)
ncurses: ncurses 5.7.20081102 (compiled with 5.7.20081102)
libiconv: 1.11
libidn: 1.35 (compiled with 1.35)
hcache backends: tokyocabinet, lmdb

Compiler:
Apple LLVM version 9.1.0 (clang-902.0.39.2)
Target: x86_64-apple-darwin17.6.0
Thread model: posix
InstalledDir: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin

Configure options: --prefix=/usr/local/Cellar/neomutt/20180622 --enable-gpgme --gss --lmdb --notmuch --sasl --tokyocabinet --with-ssl=/usr/local/opt/openssl --with-ui=ncurses

Compilation CFLAGS: -g -O2 -std=c99 -D_ALL_SOURCE=1 -D_GNU_SOURCE=1 -D__EXTENSIONS__ -I/usr/local/Cellar/neomutt/20180622/include -DNCURSES_WIDECHAR -I/usr/local/opt/openssl/include

Default options:
  +attach_headers_color +compose_to_sender +compress +cond_date +debug
  +encrypt_to_self +forgotten_attachments +forwref +ifdef +imap +index_color
  +initials +limit_current_thread +multiple_fcc +nested_if +new_mail +nntp +pop
  +progress +quasi_delete +regcomp +reply_with_xorig +sensible_browser +sidebar
  +skip_quoted +smtp +status_color +timeout +tls_sni +trash

Compile options:
  +bkgdset +color +curs_set +fcntl -flock -fmemopen +futimens +getaddrinfo
  -gnutls +gpgme +gss +hcache -homespool +idn -locales_hack -lua +meta
  -mixmaster +nls +notmuch +openssl +pgp +sasl +smime +start_color
  +sun_attachment +typeahead
MAILPATH="/var/mail"
PKGDATADIR="/usr/local/Cellar/neomutt/20180622/share/neomutt"
SENDMAIL="/usr/sbin/sendmail"
SYSCONFDIR="/usr/local/Cellar/neomutt/20180622/etc"

To learn more about NeoMutt, visit: https://neomutt.org
If you find a bug in NeoMutt, please raise an issue at:
    https://github.com/neomutt/neomutt/issues
or send an email to: <neomutt-devel@neomutt.org>
```

## Extra Info

<!-- This info might help us narrow down the source of the problem. -->

* Operating System and its version
   ProductName:	Mac OS X
   ProductVersion:	10.13.6
   BuildVersion:	17G62a
* Were you using multiple copies of NeoMutt at once?
   No
* Were you using 'screen' or 'tmux'?
   tmux
* Is your email local (maildir) or remote (IMAP)?
   IMAP

###

- [20180622 debug file](https://gist.github.com/8184e43b956843574f6ebb9881f6dae3)
- [20180512 debug file](https://gist.github.com/ae6c516c231198efa3ffc0567f753735)

Things change around line 78 (both files).
### 2018-06-22
```
[2018-07-05 15:09:49]<2> mutt_socket_write_d() 8> a0001 AUTHENTICATE PLAIN
[2018-07-05 15:09:49]<2> mutt_socket_readln_d() 8< + 
[2018-07-05 15:09:49]<2> mutt_socket_write_d() 8> cHJpbXVzQHBvYm94LmNvbQBwcmltdXNAcG9ib3guY29tAC41bjY1dm91dGZvMXFl[2018-07-05 15:09:49]<2> mutt_socket_write_d() 8> 
[2018-07-05 15:09:49]<2> imap_conn_find() Communication encrypted at 256 bits
[2018-07-05 15:09:49]<2> mutt_socket_write_d() 8> a0002 CAPABILITY
a0003 LIST "" ""
[2018-07-05 15:09:50]<2> mutt_socket_readln_d() 8< a0001 OK [CAPABILITY IMAP4rev1 LITERAL+ ID ENABLE ACL RIGHTS=kxten QUOTA MAILBOX-REFERRALS NAMESPACE UIDPLUS NO_ATOMIC_RENAME UNSELECT CHILDREN MULTIAPPEND BINARY CATENATE CONDSTORE ESEARCH SEARCH=FUZZY SORT SORT=MODSEQ SORT=DISPLAY SORT=UID THREAD=ORDEREDSUBJECT THREAD=REFERENCES THREAD=REFS ANNOTATE-EXPERIMENT-1 METADATA LIST-EXTENDED LIST-STATUS LIST-MYRIGHTS LIST-METADATA WITHIN QRESYNC SCAN XLIST XMOVE MOVE SPECIAL-USE CREATE-SPECIAL-USE DIGEST=SHA1 X-REPLICATION STATUS=SIZE OBJECTID SAVEDATE XAPPLEPU
[2018-07-05 15:09:50]<3> imap_cmd_step() grew buffer to 1024 bytes
[2018-07-05 15:09:50]<2> mutt_socket_readln_d() 8< SHSERVICE LOGINDISABLED XCONVERSATIONS COMPRESS=DEFLATE X-QUOTA=STORAGE X-QUOTA=MESSAGE X-QUOTA=X-ANNOTATION-STORAGE X-QUOTA=X-NUM-FOLDERS IDLE] User logged in SESSIONID=<sloti31d1t13-3390133-1530799790-1-1433750373267469407>
[2018-07-05 15:09:50]<3> cmd_parse_capability() Handling CAPABILITY
[2018-07-05 15:09:50]<4> cmd_parse_capability()  Found capability "IMAP4rev1": 1
[2018-07-05 15:09:50]<4> cmd_parse_capability()  Found capability "ENABLE": 12
[2018-07-05 15:09:50]<4> cmd_parse_capability()  Found capability "ACL": 3
[2018-07-05 15:09:50]<4> cmd_parse_capability()  Found capability "NAMESPACE": 4
[2018-07-05 15:09:50]<4> cmd_parse_capability()  Found capability "LOGINDISABLED": 9
[2018-07-05 15:09:50]<4> cmd_parse_capability()  Found capability "IDLE": 10
[2018-07-05 15:26:55]<1> ssl_err() SSL error: retry read
[2018-07-05 15:26:55]<1> imap_cmd_step() Error reading server response.
``` 
ssl read error at `line 95`
_Feels_ like either a timing issue or a buffer size issue.
 
### 2018-05-12
```
[2018-07-05 16:06:37]<M> imap_auth_plain() Logging in...
[2018-07-05 16:06:37]<2> mutt_socket_write_d() 8> a0001 AUTHENTICATE PLAIN cHJpbXVzQHBvYm94LmNvbQBwcmltdXNAcG9ib3guY29tAC41bjY1dm91dGZvMXFl
[2018-07-05 16:06:37]<2> mutt_socket_readln_d() 8< a0001 OK [CAPABILITY IMAP4rev1 LITERAL+ ID ENABLE ACL RIGHTS=kxten QUOTA MAILBOX-REFERRALS NAMESPACE UIDPLUS NO_ATOMIC_RENAME UNSELECT CHILDREN MULTIAPPEND BINARY CATENATE CONDSTORE ESEARCH SEARCH=FUZZY SORT SORT=MODSEQ SORT=DISPLAY SORT=UID THREAD=ORDEREDSUBJECT THREAD=REFERENCES THREAD=REFS ANNOTATE-EXPERIMENT-1 METADATA LIST-EXTENDED LIST-STATUS LIST-MYRIGHTS LIST-METADATA WITHIN QRESYNC SCAN XLIST XMOVE MOVE SPECIAL-USE CREATE-SPECIAL-USE DIGEST=SHA1 X-REPLICATION STATUS=SIZE OBJECTID SAVEDATE XAPPLEPU
[2018-07-05 16:06:37]<3> imap_cmd_step() grew buffer to 1024 bytes
[2018-07-05 16:06:37]<2> mutt_socket_readln_d() 8< SHSERVICE LOGINDISABLED XCONVERSATIONS COMPRESS=DEFLATE X-QUOTA=STORAGE X-QUOTA=MESSAGE X-QUOTA=X-ANNOTATION-STORAGE X-QUOTA=X-NUM-FOLDERS IDLE] User logged in SESSIONID=<sloti31d1t13-3447859-1530803197-1-16019772638630476307>
[2018-07-05 16:06:37]<3> cmd_parse_capability() Handling CAPABILITY
[2018-07-05 16:06:37]<4> cmd_parse_capability()  Found capability "IMAP4rev1": 1
[2018-07-05 16:06:37]<4> cmd_parse_capability()  Found capability "ENABLE": 12
[2018-07-05 16:06:37]<4> cmd_parse_capability()  Found capability "ACL": 3
[2018-07-05 16:06:37]<4> cmd_parse_capability()  Found capability "NAMESPACE": 4
[2018-07-05 16:06:37]<4> cmd_parse_capability()  Found capability "LOGINDISABLED": 9
[2018-07-05 16:06:37]<4> cmd_parse_capability()  Found capability "IDLE": 10
[2018-07-05 16:06:37]<3> imap_cmd_step() IMAP queue drained
[2018-07-05 16:06:37]<2> imap_conn_find() Communication encrypted at 256 bits
[2018-07-05 16:06:37]<2> mutt_socket_write_d() 8> a0002 CAPABILITY
a0003 ENABLE UTF8=ACCEPT
a0004 LIST "" ""
```

Another pobox.com user reported similar problems.
I tried signing up for a trial account, there, but that seems to have been deactivated before I could use it.

I've created a branch `devel/imap-revert-3` with some extra logging.
When in doubt, printf (since the imap expert is on holiday).

Please can you give it a try.

Fri Jul  6 11:29:26 BST 2018

### Update:

From [RFC 4959](https://tools.ietf.org/html/rfc4959):
```
The SASL initial client response extension is present in any IMAP
   [RFC3501] server implementation which returns "SASL-IR" as one of the
   supported capabilities in its CAPABILITY response.

   Servers which support this extension will accept an optional initial
   client response with the AUTHENTICATE command for any SASL [RFC4422]
   mechanisms which support it.
```
pobox does not appear to support SASL:
```
[2018-07-06 11:01:11]<2> mutt_socket_readln_d() 8< * CAPABILITY IMAP4rev1 UIDPLUS SORT CHILDREN NAMESPACE THREAD=ORDEREDSUBJECT THREAD=REFERENCES QUOTA ACL ACL2=UNION IDLE AUTH=PLAIN
```

neomutt-20180522 does not have/send the extra `SASL_IR` info.

Could this be causing it?
(Only send SASL if server supports it?)

Fri Jul  6 11:48:46 BST 2018

### Update 2:
```
With non-blocking sockets, SSL_WANT_READ means "wait for the socket to be readable, then call this function again.";
```
Were any changes made recently to the `socket` code?

> but in the failed sessions, there is no '^M' sent after the base64 login info:

Ah, it's send as a separate request.
I've changed the code to send `PASSWORD\r\n` as one message -- devel/imap-revert-3: 7003f7bb7
Please give it a try.

(My pobox account won't let me log in any more)

> Were any changes made recently to the socket code?

No, nothing functional (well, nothing intentional).

Fri Jul  6 12:42:47 BST 2018

@flatcap  BTW - if you need me to check a final version before the release,  let me know.