"In-Reply-To" is ignored in mailto URL if not surrounded by angle brackets

## Description

When opening a mailto URL such as `mailto:test@example.org?in-reply-to=msgid@example.org`, the `in-reply-to` header silently gets ignored, despite being part of `mailto_allow` by default. Adding angle brackets makes it work: `mailto:test@example.org?in-reply-to=%3cmsgid@example.org%3e`. This happens here:

```
#0  mutt_extract_message_id (s=0x5555558a6f2d "msgid@example.org", len=0x7fffffffd3d8) at email/parse.c:356
#1  0x0000555555664d1d in parse_references (head=0x555555892e30, s=0x5555558a6f2d "msgid@example.org") at email/parse.c:281
#2  0x0000555555665d3f in mutt_rfc822_parse_line (env=0x555555892d10, e=0x0, line=0x5555558a6f20 "in-reply-to", p=0x5555558a6f2d "msgid@example.org", user_hdrs=true, weed=false, do_2047=true) at email/parse.c:740
#3  0x00005555556680cf in mutt_parse_mailto (e=0x555555892d10, body=0x7fffffffd5b0, src=0x7fffffffe0f5 "mailto:test@example.org?in-reply-to=msgid@example.org") at email/parse.c:1620
#4  0x00005555555b5462 in main (argc=2, argv=0x7fffffffdcf8, envp=0x7fffffffdd10) at main.c:819
```

I first thought that this is just an invalid mailto URL - but then noticed that RFC 822 [allows](https://tools.ietf.org/html/rfc822#appendix-A.3.3) using a human-readable phrase rather than a message ID there:

> `In-Reply-To: <some.string@DBM.Group>, George's message`

Still, this is probably not what was intended there, so I guess it's questionable how to handle that case. ~~Surprisingly, even RFC 2368 (`mailto:`) [has an incorrect example](https://tools.ietf.org/html/rfc2368#section-6), omitting the closing `%3e`:~~ Edit: Nevermind, it's been superseded by [RFC 6068](https://tools.ietf.org/html/rfc6068) which fixes that example.

Perhaps more to the point, the [GNU lists archives](https://lists.gnu.org/archive/html) use the wrong syntax when clicking the "reply via email" button at the bottom of a message ([example](https://lists.gnu.org/archive/html/coreutils-announce/2020-03/msg00000.html)). Ironically, I've been unable to find the source code of the `/mp/yyz.py` script they use to generate those links, but I've asked them.

Even if the answer to this issue is "the header is invalid, so should be ignored": Should that happen silently? It took me a debugger and some time to find out why it is ignored despite being whitelisted.

## How often does this happen?

- Always

## NeoMutt Version

```
NeoMutt 20200501
Copyright (C) 1996-2016 Michael R. Elkins and others.
NeoMutt comes with ABSOLUTELY NO WARRANTY; for details type 'neomutt -vv'.
NeoMutt is free software, and you are welcome to redistribute it
under certain conditions; type 'neomutt -vv' for details.

System: Linux 5.6.11-arch1-1 (x86_64)
ncurses: ncurses 6.2.20200212 (compiled with 6.2.20200212)
libidn2: 2.3.0 (compiled with 2.3.0)
GPGME: 1.13.1
GnuTLS: 3.6.13
libnotmuch: 5.2.0
storage: kyotocabinet, gdbm, lmdb
compression: lz4, zlib, zstd

Configure options: --prefix=/usr --sysconfdir=/etc --libexecdir=/usr/lib --gpgme --sqlite --autocrypt --lua --notmuch --gss --gnutls --sasl --with-ui=ncurses --with-idn2=/usr --disable-idn --idn2 --lmdb --kyotocabinet --gdbm --lz4 --zlib --zstd

Compilation CFLAGS: -march=x86-64 -mtune=generic -O2 -pipe -fno-plt -std=c99 -D_ALL_SOURCE=1 -D_GNU_SOURCE=1 -D__EXTENSIONS__ -I/usr/include -DNCURSES_WIDECHAR

Default options:
  +attach_headers_color +compose_to_sender +compress +cond_date +debug 
  +encrypt_to_self +forgotten_attachments +forwref +ifdef +imap +index_color 
  +initials +limit_current_thread +multiple_fcc +nested_if +new_mail +nntp +pop 
  +progress +quasi_delete +regcomp +reply_with_xorig +sensible_browser +sidebar 
  +skip_quoted +smtp +status_color +timeout +tls_sni +trash 

Compile options:
  +autocrypt +bkgdset +color +curs_set +fcntl -flock -fmemopen +futimens 
  +getaddrinfo +gnutls +gpgme +gss +hcache -homespool +idn +inotify 
  -locales_hack +lua +lz4 +meta -mixmaster +nls +notmuch -openssl +pgp +regex 
  +sasl +smime +sqlite +start_color +sun_attachment +typeahead +zlib +zstd 
MAILPATH="/var/mail"
PKGDATADIR="/usr/share/neomutt"
SENDMAIL="/usr/sbin/sendmail"
SYSCONFDIR="/etc"

To learn more about NeoMutt, visit: https://neomutt.org
If you find a bug in NeoMutt, please raise an issue at:
    https://github.com/neomutt/neomutt/issues
or send an email to: <neomutt-devel@neomutt.org>
```

Also happens on 1705f9ad68719e331b64ef7bbae6eb4c5b9347af (the current master).

822 was obsoleted by 2822 was obsoleted by 5322, which says (citing
https://tools.ietf.org/html/rfc5322#section-3.6.4):

```
in-reply-to     =   "In-Reply-To:" 1*msg-id CRLF
...
msg-id          =   [CFWS] "<" id-left "@" id-right ">" [CFWS]
```

I guess it's ok to log a message if we fail to parse an address. Mind to open a PR?

Right, I apparently got lost in some legacy RFCs while looking at this :laughing: 

I haven't really looked at how `mutt_extract_message_id` works in detail, and what the best way to handle errors there would be. I might be able to take a look at some point, but no promises. Too much on my plate from maintaining my own open source project already :wink:

I'll close this - feel free to open a new issue to track your progress when/if you get to it. Thanks!