RFC6331: Moving DIGEST-MD5 to Historic

July 2011: RFC6331: Moving DIGEST-MD5 to Historic:
- https://tools.ietf.org/html/rfc6331

There are now:
- July 2010: RFC5802: Salted Challenge Response Authentication Mechanism (SCRAM): SASL and GSS-API Mechanisms: https://tools.ietf.org/html/rfc5802 (SCRAM-SHA-1 and SCRAM-SHA-1-PLUS)
- November 2015: RFC7677: SCRAM-SHA-256 and SCRAM-SHA-256-PLUS: Simple Authentication and Security Layer (SASL) Mechanisms: https://tools.ietf.org/html/rfc7677


er, thanks for the info?

https://gitlab.com/muttmua/mutt/issues/175

Please look: https://github.com/cyrusimap/cyrus-sasl/commits/master
- Commits on Sep 4, 2019
- Commits on Sep 2, 2019
