RFC2047 To: header not decoded

## Expected Behaviour

```
To: наб <nabijaczleweli@nabijaczleweli.xyz>
```

## Actual Behaviour

```
To: =?utf-8?b?0L3QsNCxIDxuYWJpamFjemxld2VsaUBuYWJpamFjemxld2VsaS54eXo+?=
```

## Steps to Reproduce

Set `rfc2047_parameters`, open this mbox: [mailer.gz](https://github.com/neomutt/neomutt/files/5105926/mailer.gz)

## How often does this happen?

- Always

## When did it start to happen?

Dunno

## NeoMutt Version

```
nabijaczleweli@tarta:~$ neomutt -v
NeoMutt 20200814
Copyright (C) 1996-2020 Michael R. Elkins and others.
NeoMutt comes with ABSOLUTELY NO WARRANTY; for details type 'neomutt -vv'.
NeoMutt is free software, and you are welcome to redistribute it
under certain conditions; type 'neomutt -vv' for details.

System: Linux 4.19.0-10-amd64 (x86_64)
ncurses: ncurses 6.1.20181013 (compiled with 6.1.20181013)
libidn: 1.33 (compiled with 1.33)
GPGME: 1.12.0
GnuTLS: 3.6.7
libnotmuch: 5.2.0
storage: tokyocabinet
compression: zlib, zstd

Configure options: --build=x86_64-linux-gnu --prefix=/usr {--includedir=${prefix}/include} {--mandir=${prefix}/share/man} {--infodir=${prefix}/share/info} --sysconfdir=/etc --localstatedir=/var --disable-silent-rules {--libdir=${prefix}/lib/x86_64-linux-gnu} {--libexecdir=${prefix}/lib/x86_64-linux-gnu} --disable-maintainer-mode --disable-dependency-tracking --mandir=/usr/share/man --libexecdir=/usr/libexec --with-mailpath=/var/mail --gpgme --lua --notmuch --with-ui --gnutls --gss --idn --mixmaster --sasl --tokyocabinet --zlib --zstd --testing

Compilation CFLAGS: -g -O2 -fdebug-prefix-map=/home/nabijaczleweli/backports/build-output/neomutt-20200814+dfsg.1=. -fstack-protector-strong -Wformat -Werror=format-security -std=c99 -D_ALL_SOURCE=1 -D_GNU_SOURCE=1 -D__EXTENSIONS__ -I/usr/include -I/usr/include/lua5.3 -DNCURSES_WIDECHAR -isystem /usr/include/mit-krb5

Default options:
  +attach_headers_color +compose_to_sender +compress +cond_date +debug
  +encrypt_to_self +forgotten_attachments +forwref +ifdef +imap +index_color
  +initials +limit_current_thread +multiple_fcc +nested_if +new_mail +nntp +pop
  +progress +quasi_delete +regcomp +reply_with_xorig +sensible_browser +sidebar
  +skip_quoted +smtp +status_color +timeout +tls_sni +trash

Compile options:
  -autocrypt +bkgdset +color +curs_set +fcntl -flock -fmemopen +futimens
  +getaddrinfo +gnutls +gpgme +gss +hcache -homespool +idn +inotify
  -locales_hack +lua +meta +mixmaster +nls +notmuch -openssl +pgp +regex +sasl
  +smime -sqlite +start_color +sun_attachment +typeahead
MAILPATH="/var/mail"
MIXMASTER="mixmaster"
PKGDATADIR="/usr/share/neomutt"
SENDMAIL="/usr/sbin/sendmail"
SYSCONFDIR="/etc"

To learn more about NeoMutt, visit: https://neomutt.org
If you find a bug in NeoMutt, please raise an issue at:
    https://github.com/neomutt/neomutt/issues
or send an email to: <neomutt-devel@neomutt.org>
```

## Extra Info

* Operating System and its version: Buster
* Were you using multiple copies of NeoMutt at once? No
* Were you using 'screen' or 'tmux'? No
* Is your email local (maildir) or remote (IMAP)? Either



Hmm...  It's a valid RFC2047 string, but I wonder if that's a valid email.
I would guess that the actual address part (`x@y.com`) should be plain text.

NeoMutt is confused by the lack of a plain address (Mutt can't read it either).
If I cheat and add a dummy address on the end of your example, then NeoMutt decodes it.

Sure enough, NeoMutt sends my mails as:
```
From: =?utf-8?B?0L3QsNCx?= <nabijaczleweli@nabijaczleweli.xyz>
```
which works, but at some point between my postfix, sourcehut's postfix, smtplib, and listsrht-lmtp it must've become the long boy, since listsrht-lmtp bounces like [this](https://git.sr.ht/~sircmpwn/lists.sr.ht/tree/master/listssrht/process.py#L493):
```python
    reply["To"] = mail["From"]
```

Yeah, `=?utf-8?b?0L3QsNCxIDxuYWJpamFjemxld2VsaUBuYWJpamFjemxld2VsaS54eXo+?=` is definitely not a valid RFC2822 + RFC2047 address. The bug is in elsewhere.

See [RFC 2047, section 5](https://tools.ietf.org/html/rfc2047#section-5) for where an encoded-word (`=?.......?=`) may appear within an [RFC 2822](https://tools.ietf.org/html/rfc2822#section-3.4)'s address specification.