Ignoring specific IMAP Keywords (or neomutt tags) in `index_format`

<!--
Sometimes NeoMutt can be quite confusing.
We're working on making it easier to understand.
-->

My use case is using mutt to access my IMAP mail at FastMail. They add certain headers to many of my incoming emails that I would prefer not to show up in my mutt interface. They are all prefixed by the `$` character. Is it possible in the syntax available for defining the content of the index line to **not** list tags/keywords that begin  with this character? If not, might the devs consider making tags prefaced by `$` a special condition as that is relatively commonly used by servers for special purposes?



I'm not sure I understood your question, but perhaps you're looking for the "ignore" and "unignore" rc settings? See `man neomuttrc`. For example, I use the following:

```
# Start by ignoring all headers...
ignore *
# ... then allow these through
unignore from: subject to cc date x-mailer x-url user-agent
```

That is not quite what I meant. I am not trying to ignore all headers of a certain type. I am trying to ignore a subset of IMAP Keywords, which are actually not even contained in the message header but rather queried from the IMAP server (as far as I understand). 

To make it more clear with an explicit example, this is the line I have in my muttrc file:

`set index_format="%4C %g %Z %{%b %d} %-15.15L (%?l?%4l&%4c?) %s"`

I would like the change the `%g` into something like `%g$` so that any IMAP Keywords which have the `$` prefix are not listed in my message index. They are just system generated tags used server side and don't add any useful information. Even if the notation I use above is not correct, is their such an option already in NeoMutt? If not, then I can create a feature request. 

I think you're referring to IMAP Flags.

> I think you're referring to IMAP Flags.

No, I am not actually. If you look at Section 2.3.2 of RFC 3501 ([https://tools.ietf.org/html/rfc3501](url)) then you should see the subtle distinction. IMAP Flags refers to the IMAP *System* Flags that are built in and correspond to the `%Z` in my index line above. The IMAP Keywords can be user defined and a different beast.  

Yep you're right

Sounds like you need `$hidden_tags`
This config variable hides the listed tags from the index.
Currently, this just matches literal strings, so you could list all the common tags (comma-separated).

Changing it to ignore regex patterns might be as simple as tweaking `C_HiddenTags` in:
https://github.com/neomutt/neomutt/blob/e20dae2067493883fafbd57ba0d020c99531bc77/email/tags.c#L82-L97

Beautiful. Thanks! I will give this a go for the explicit strings and return if I have issues. I do support the enhancement to regex patterns though. If one had a lots of flags following a certain pattern used for filtering or applied by a filter it could start to get crowded if they were all shown. 

I've added 'Change `$hidden_tags` to be a regex' to my list of all ideas.