(neo)mutt converts CRLF to LF in attachments with mime text/*

Hi

When mutt saves/pipes an attachment which has MIME type text/* it converts any CRLF into LF (at least on Linux).
This, however, renders some attachments useless.

* It changes the checksum of files which contain a CRLF (example mail attached below) thus disturbing cryptographic verifications (Here I do not mean S/MIME, PGP/MIME).
* It damages files which are (willingly or accidentally) marked as text/*. For example Thunderbird sends (at least under some circumstances) PDF documents as text/pdf. Which then cannot be read by any PDF viewer any more.

In the spirit of the Robustness Principle 'be conservative in what you do, be liberal in what you accept from others', I suggest adding a command <save-raw-entry>/<save-entry-as-binary> (name is up for discussion) which saves the attachment/part of the mail without modifying it, only stripping the transfer encoding.

Looking into the code base, the function which tampers with the line endings is mutt_decode_base64 in handler.c. If the istext parameter is true, then it converts CRLF to LF.
The function itself is called by mutt_decode_attachment which sets istext to true if the attachment has MIME type text/*, message/*, application-gpg/pgp-keys.
The function mutt_decode_attachment is used by mutt_pipe_attachment and mutt_save_attachment in attach.c and by pipe_attachment in recvattach.c (but there might also be others).
Other encodings (e.g. quoted printable) seem not to have this issue.

Temporary workaround for people which have this problem:
a) Save the mail (as a whole) to a temporary mailfolder (maildir or mbox). Then edit the file such that the ContentType of the attachment is application/pdf, application/octet-stream, ...
Now open the mailfolder and save the attachment.
b) Alternatively, save the mail to a file extract the base64 encoded stuff and decode it yourself (e.g. with 'base64 -d').

Best
carly

Here is an example message to reproduce the problem
```
From: test@example.org
To: test@example.com
Subject: Test text attachment
MIME-Version: 1.0
Content-Type: multipart/mixed; boundary="XsQoSWH+UP9D9v3l"
Content-Disposition: inline
X-Mutt-Fcc: =sent
Date: Sat, 19 Aug 2017 12:27:10 +0000


--XsQoSWH+UP9D9v3l
Content-Type: text/plain; charset=us-ascii
Content-Disposition: inline

The MD5 sum of the attachment send (which contained a CRLF) was

    12b81ead7c0b006dea3a7195934fb921

The attachment saved has

    ef05821d23a256a0f0e0b330348819d4

--XsQoSWH+UP9D9v3l
Content-Type: text/plain; charset=us-ascii
Content-Disposition: attachment; filename="test.txt.crlf"
Content-Transfer-Encoding: base64

aGVyZSBpcyBhIENSTEYNCm5leHQgbGluZQo=

--XsQoSWH+UP9D9v3l--
```

Thanks for taking the time to report this and for the detailed bug report.

Does the `pipe_decode` setting affect this at all?

> Does the pipe_decode setting affect this at all?

I don't think so.

Following the option OPT_PIPE_DECODE, it is only used in mutt_pipe_message() and _mutt_pipe_message() in the file command.c, which I doubt are called when saving attachments (calling sites are mutt_index_menu() in curs_main.c and mutt_pager() in pager.c). From there pipe_msg() is called which invokes mutt_parse_mime_message() in parse.c. From a quick look I don't think that mutt_parse_mime_message() (and its follow ups) does strip the content-transfer-encoding.

@carlytinnerello : I checked `mutt_decode_base64` , I think your analysis is correct.

I'll take this one.


@nobrowser: Is there any progress on this?

No, unfortunately I have been very distracted :-(  Too many CVEs and similar to fend off.
Should I unassign myself?


I'll take this. I think the reason for this conversion (which has been there since "Initial revision") is due to a (mis?)interpretation of this note in rfc1341:

> 
            NOTE ON TRANSLATING  ENCODINGS:   The  quoted-printable  and
            base64  encodings  are  designed  so that conversion between
            them is possible. The only  issue  that  arises  in  such  a
            conversion  is  the handling of line breaks. When converting
            from  quoted-printable  to  base64  a  line  break  must  be
            converted  into  a CRLF sequence. Similarly, a CRLF sequence
            in base64 data should be  converted  to  a  quoted-printable
            line break, but ONLY when converting text data.

However, here we are not converting from base64 to quoted-printable, so I don't see a reason for this conversion either.

From what I can see, we should be safe in removing this conversion. However, as it's been there since the beginning of time, I'll be cautious and try to understand its implications a little better before proceeding with the change, which is itself pretty trivial.

@carlytinnerello could you by any chance give the branch devel/issue-722 a try? I couldn't find many emails with such an encoding + CRLF in my mailbox (just one actually) so I'm not sure of any potential fallout.

I've had a good look at this and I agree it's a bit odd.
(Neo)Mutt is trying to do the user a favour by "fixing" the line-endings,
but as you point out there are a lot of times when that might be the wrong thing to do.

Options:
1. Do nothing.  Mutt's always worked this way.
2. Use @gahr's fix.  "Save attachment" should do exactly that, no more.
3. Auto-magically fix the file (examine the file to determine if it's text, don't trust the mime type)
4. Add an option of mime types that should be converted.
5. Add a command to "save-and-fix-line-endings"

I prefer 2.  I'm surprised this issue hasn't been raised against Mutt.
Even though we're changing a long-time behaviour, I don't think many people would ever notice.

3 would mean decoding and checking a good chunk of the file to be sure.
4 & 5 just add unnecessary complexity.

@neomutt/reviewers What are your thoughts?

I think @gahr is mostly right. The confusion must come from the original authors' interpretation of line break conversion to CRLF. From [RFC2045 Section 6.8](https://tools.ietf.org/html/rfc2045#section-6.8)

```
   Care must be taken to use the proper octets for line breaks if base64
   encoding is applied directly to text material that has not been
   converted to canonical form.  In particular, text line breaks must be
   converted into CRLF sequences prior to base64 encoding.  The
   important thing to note is that this may be done directly by the
   encoder rather than in a prior canonicalization step in some
   implementations.
```

But there is no way to know if a conversion occured on the sender side or not. For simple text emails, this probably doesn't have an impact, but I would clearly expect my email client to save an attachment exactly as it was sent. Clients should be able to be liberal on how they represent text/plain content (like converting CRLF to LF if they want to), but in reality we can see that some clients send content that should be not altered with that Content-Type.

So the safest move here is to apply @gahr's fix, while making sure it doesn't break application that were relying on that behaviour (like `application-gpg/pgp-keys` if the bug report is correct).

Thanks for the detailed bug report @carlytinnerello 

Thanks @gahr for the proposed patch.

> @carlytinnerello could you by any chance give the branch devel/issue-722 a try?

I tested it against my minimal working example in the initial report and saving the attachment worked fine, i.e. `CRLF` was preserved.
I also tested it against a real life example which previously saved a broken pdf. This worked also.

I did some further tests.

* Mails without CRLF are still displayed and saved correctly (as you might expect)
* Mail with a text/plain attachment which is base64 transfer encoded and contains a `CRLF`
  - pipes correctly (i.e. `CRLF` is preserved) in the attachment menu (aka `pipe-entry` mutt-function) when `pipe_decode=yes` is set
  - pipes correctly (i.e. `CRLF` is preserved) in the attachment menu (aka `pipe-entry` mutt-function) when `pipe_decode=no` is set
* A simple mail (i.e. no attachment) with a text/plain body which was base64 transfer encoded and contained a `CRLF`
  - Displays without strange artefacts like `^M` (= `CR`) on my terminal (neomutt in tmux in urxvt)
    I think this is related to the 'handler' (see below) which converts `CRLF` to `LF` when displaying the message.

* when piping a message as a whole (with or without attachment) in the index with the `pipe-message` mutt-function, then `CRLF` is converted to `LF` if `pipe_decode=yes` is set.
  - This applies to mails with and without attachments
  - There is no problem if `pipe_decode=no` is set as the base64 encoded content is emitted without touching it.

I tried to track down this inconsistency (without guarantee that I haven't missed something as the code is somehow difficult to understand/follow)
Here is what I've found:

`pipe-entry`, the mutt-function used to pipe attachments in the attachment menu, calls mutt_pipe_attachment() which calls only mutt_decode_base64() (which is has the fix thanks to @gahr) and writes its output to the pipe. So `CRLF` are preserved and not replaced by `LF`.

`pipe-message`, the mutt-function used to pipe a whole message, calls `mutt_pipe_message()`, which through a bunch of parser-functions for body parts, MIME stuff, ... ends up in `run_decode_and_handler()` [in `handler.c`]. This function uses `mutt_decode_base64()` to strip the transfer encoding (but only if `pipe_decode=yes` is set). At this point CRLF is still correctly preserved with @gahr's fix. After that, however, a 'handler' is called on the mail body. Examples for handlers are `rfc3676_handler`, `text_plain_handler`, `multipart_handler`, `crypt_pgp_application_pgp_handler`, ... The handlers responsible for `text/*` parts parse the content line-wise using `mutt_read_line(buf,...)` and `state_puts(buf, s);state_putc('\n', s)`. `mutt_read_line()` reads a line stripping the line ending `CR` or `CRLF`. The handler thus effectively converts `CRLF` to `LF` giving the explanation why `pipe-message` behaves differently to `pipe-entry`.

Personal opinion:

@gahr's patch solves the original problem which is saving an attachment as it was send to me (which I expect to do from my mail client.)
It also still allows me to read messages send to me (the mail either containing a `CRLF` or not). (This I also expect form my mail client.)
The inconsistency between the outputs of piping the whole message (with `pipe_decode=yes`) in contrast to piping a message part/attachment is unpleasant but still better than saving a broken attachment. This behaviour should be document, though.
Preventing the conversation of `CRLF` to `LF` in the handler for base64 encoded might be quite complicated as it seems to be used for any type of handling the messages not only for piping (through the process some state flags are set which might give a clue what the current intention (display/piping/...) is but still we don't know if it was base64 encoded or not)

So, the patch solves the tempering when saving attachments but not when piping but this is still a hundred times better than saving a broken attachment and piping a broken attachment.

For my part I'm quite happy with the results of @gahr's proposed patch.